<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
        <ul
          style="
            display: flex;
            justify-content: space-evenly;
            align-items: center;
          "
        >
          <li><a href="<?php echo APP_URL;?>/">Home</a></li>
          <li><a href="<?php echo APP_URL;?>/Signup/index">Signup</a></li>
          <li><a href="<?php echo APP_URL;?>/Login/index">Login</a></li>
        </ul>
      </nav>
    </header>
  </body>

  <script src="<?php echo APP_URL;?>/assets/js/app.js"></script>
</html>
